.Navigation{
    margin-bottom: 20px;
}
.Brand{
    color:white;
    font-size:15px;
    margin-top:-20px;
}

.Navlink{
    text-decoration: none;
    color: white;
    font-size: 25px;
    margin-top: -25px;
    margin: 10px;
}

.Navlink:hover{
    color: wheat;
}